.index {
        background-image: url('1.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-animation: slidein 95s;
        animation: slidein 95s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;      
        
}



@-webkit-keyframes slidein {
from {background-position: top; background-size:1000px; }
to {background-position: -100px 0px;background-size:2000px;}
}

@keyframes slidein {
from {background-position: top;background-size:1400px; }
to {background-position: 0px 0px;background-size:2000px;}


}


.index2{
     background-image: url('2.jpg');
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-repeat: no-repeat;
}

.index3{
     background-image: url('3.jpg');
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-repeat: no-repeat;
}

.index4{
     background-image: url('4.jpg');
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;  
     background-repeat: no-repeat;
  
}

.index5{
     background-image: url('5.jpg');
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-repeat: no-repeat;
}





 

.content a .b1{
    margin-top: 25px;
    border: 0px;
    padding: 15px 8rem;
    font-size: 23px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(100, 90, 100, 0.1);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .content a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    
  }

header{
      margin: 0px 0px 15px 0px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

li{
 
 }
 
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #9e9e9e70;
}

.content{
  color: white;
  display: grid;
  justify-content: center;
  padding: 16rem 8rem;s
}
